{
  "type": "",
  "host": "",
  "port": 3306,
  "username": "",
  "password": "",
  "database": "",
  "synchronize": true,
  "entities": ["./src/modules/**/entities/*.ts"],
  "migrations": ["./src/shared/infra/typeorm/migrations/*.ts"],
  "cli": {
    "migrationsDir": "./src/shared/infra/typeorm/migrations"
  }
}
