<style>
    .container{
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    span{
        margin: .1px;
    }
</style>

<div class="container">
    <span>Oi, {{name}}</span>

    <br/>

    <span>Você solicitou alteração de senha.</span>

    <span>Para realizar a troca, clique no link
        <a href="{{href}}">{{href}}</a>
    </span>


    <span>Caso não tenha sido você quem solicitoua alteração da senha, basta ignorar este e-mail</span>

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>Rentx</strong></h3>
</div>